--Tao csdl QLSV
CREATE DATABASE QLSV

--Su dung CSDL
USE QLSV

--Xoa csdl QLSV
DROP DATABASE QLSV


--1/Tao bang CT_DaoTao
CREATE TABLE CT_DaoTao
(
	MaCTDT varchar(10)not null,
	TenCTDT nvarchar(50)
)


--2/Tao bang KhoaHoc
CREATE TABLE KhoaHoc
(
	MaKH varchar(10)not null,
	MaCTDT varchar(10)not null,
	TenKH nvarchar(50)
)

--3/Tao bang Lop
CREATE TABLE Lop
(
	MaLop varchar(10)not null,
	MaKH varchar(10)not null,
	TenLop nvarchar(50)
)

--4/Tao bang MonHoc
CREATE TABLE MonHoc
(
	MaMH varchar(10)not null,
	TenMH nvarchar(50)
)

--5/Tao bang SinhVien
CREATE TABLE SinhVien
(
	MaSV varchar(10)not null,
	HoTen nvarchar(50),
	GioiTinh nvarchar(10),
	NgaySinh datetime,
	NoiSinh nvarchar(30),
	MaLop varchar(10)not null
)

--6/Tao bang KetQuaThi
CREATE TABLE KetQuaThi
(
	MaSV varchar(10)not null,
	MaMH varchar(10)not null,
	LanThi int not null,
	DiemThi float
)

--Xem tat ca cac bang

SELECT *
FROM CT_DaoTao

SELECT *
FROM KhoaHoc

SELECT *
FROM Lop

SELECT *
FROM MonHoc

SELECT *
FROM SinhVien

SELECT *
FROM KetQuaThi

--Tao khoa chinh
ALTER TABLE CT_DaoTao ADD CONSTRAINT PK_CT_DaoTao PRIMARY KEY(MaCTDT)  
ALTER TABLE KhoaHoc ADD CONSTRAINT PK_KhoaHoc PRIMARY KEY(MaKH) 
ALTER TABLE Lop ADD CONSTRAINT PK_Lop PRIMARY KEY(MaLop) 
ALTER TABLE MonHoc ADD CONSTRAINT PK_MonHoc PRIMARY KEY(MaMH)
ALTER TABLE SinhVien ADD CONSTRAINT PK_SinhVien PRIMARY KEY(MaSV)
ALTER TABLE KetQuaThi ADD CONSTRAINT PK_KetQuaThi PRIMARY KEY(MaSV,MaMH,LanThi)

--Tao khoa ngoai
ALTER TABLE KhoaHoc ADD CONSTRAINT FK_KH_MaCTDT FOREIGN KEY (MaCTDT) REFERENCES CT_DaoTao(MaCTDT)
ALTER TABLE Lop ADD CONSTRAINT FK_Lop_MaKH FOREIGN KEY (MaKH) REFERENCES KhoaHoc(MaKH)
ALTER TABLE SinhVien ADD CONSTRAINT FK_SinhVien_MaLop FOREIGN KEY (MaLop) REFERENCES Lop(MaLop)
ALTER TABLE KetQuaThi ADD CONSTRAINT FK_KetQuaThi_MaSV FOREIGN KEY (MaSV) REFERENCES SinhVien(MaSV)
ALTER TABLE KetQuaThi ADD CONSTRAINT FK_KetQuaThi_MaMH FOREIGN KEY (MaMH) REFERENCES MonHoc(MaMH)

--Them vao bang MonHoc mot bo gia tri
INSERT INTO MonHoc 
VALUES('TH112',N'Kiến trúc máy tính')

--Them du lieu vao bang CT_DaoTao
INSERT INTO CT_DaoTao VALUES('1',N'Cử Nhân')
INSERT INTO CT_DaoTao VALUES('2',N'Cao Đẳng')
INSERT INTO CT_DaoTao VALUES('3',N'Trung Cấp')

--Them du lieu vao bang KhoaHoc
INSERT INTO KhoaHoc VALUES('1','1',N'Khóa 1 năm 2005')
INSERT INTO KhoaHoc VALUES('2','1',N'Khóa 2 năm 2006')
INSERT INTO KhoaHoc VALUES('3','2',N'Khóa 1 năm 2007')

--Them du lieu vao bang Lop
INSERT INTO Lop VALUES('1','1','K1_1')
INSERT INTO Lop VALUES('2','1','K2_1')
INSERT INTO Lop VALUES('3','1','K3_1')

--Them du lieu vao bang SinhVien
INSERT INTO SinhVien VALUES('K116',N'Đinh Nguyễn Vân Anh',N'Nữ','1985-12-18',N'Bình Thuận','1')
INSERT INTO SinhVien VALUES('K117',N'Trần Hoàng Anh',N'Nữ','1986-8-4',N'Bình Dương','1')
INSERT INTO SinhVien VALUES('K118',N'Bùi Thanh Bình',N'Nam','1985-10-23',N'Đồng Nai','1')

--Them du lieu vao bang MonHoc
INSERT INTO MonHoc VALUES('TH101',N'Tin học đại cương')
INSERT INTO MonHoc VALUES('TH110',N'Toán rời rạc')
--Them du lieu vao bang KetQuaThi
INSERT INTO KetQuaThi VALUES('K116','TH101','1','8')
INSERT INTO KetQuaThi VALUES('K117','TH101','1','4')
INSERT INTO KetQuaThi VALUES('K118','TH101','1','6.5')

--II Thuc hien cac yeu cau bang ngon ngu SQL
--1/Them vao bang SinhVien cot GhiChu
ALTER TABLE SinhVien ADD GhiChu
varchar(20)

--2/Them vao bang MonHoc mot bo gia tri (TH112, Kien truc may tinh)

--3/ Trong bang KetQuaThi, sua diem thi mon hoc co ma TH101 cua sinh vien co ma so K116 thanh 7.5
UPDATE KetQuaThi SET DiemThi = '7.5'
WHERE MaSV = 'K116'

--4/ Liet ke ma sinh vien, ho ten cua tat cac cac sinh vien
SELECT MaSV, HoTen
FROM SinhVien

--5/ Liet ke danh sach cac mon hoc 
SELECT TenMH
FROM MonHoc

-- 6/ In ra danh sach cac sinh vien thuoc lop 'K1_1'
SELECT HoTen
FROM SinhVien
WHERE MaLop = '1'

--7/ In ra DSSV sinh nam 1985 
SELECT*
FROM SinhVien
WHERE YEAR(NgaySinh) = '1985'

--8/In ra DSSV thuoc chuong trinh dao tao "Cử nhân"

